body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  input, canvas, button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 12px;
  }
  button:hover {
    background-color: #0056b3;
  }
  #signature {
    border: 1px solid #000;
    height: 150px;
    touch-action: none;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  /* Botão flutuante de WhatsApp */
  .floating-whatsapp {
    position: fixed;
    top: 50%; /* Centralizado verticalmente */
    right: 10px; /* Posicionado no lado direito */
    transform: translateY(-50%); /* Ajusta o centro vertical */
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    border: none;
    border-radius: 50%; /* Torna o botão arredondado */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: none; /* Inicialmente escondido */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Garante que fique acima de outros elementos */
  }

  .floating-whatsapp:hover {
    background-color: #1ebe57; /* Tom mais escuro ao passar o mouse */
  }

  /* Aumenta o tamanho do ícone */
  .floating-whatsapp i {
    font-size: 30px; /* Aumenta o tamanho do ícone do WhatsApp */
    color: white; /* Garante que o ícone fique branco */
  }